{{ define "content" }}
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ i18n "Asset FS" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ if .breadcrumb }}
            <ul class="breadcrumb">
                {{ range $i, $item := .breadcrumb }}
                    {{ if $item.Active }}
                    <li class="active">{{ $item.Name }}</li>
                    {{ else }}
                    <li><a href="/dashboard/assetfs?path={{ $item.Path }}">{{ $item.Name }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
            {{ end }}

            <div class="table-responsive">
                <table class="table table-hover" id="assetfs">
                    <thead>
                    <tr>
                        <th>{{ i18n "Name" . }}</th>
                        <th class="col-md-1">{{ i18n "Size" . }}</th>
                        <th class="col-md-1">{{ i18n "Mode" . }}</th>
                        <th class="col-md-1">{{ i18n "Modified" . }}</th>
                        <th class="col-md-1 actions">{{ i18n "Actions" . }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $f, $file := .files }}
                    <tr>
                        <td>
                            {{ if $file.IsDir }}
                                <i class="fa fa-folder fa-fw fa-lg"></i>
                                <a href="/dashboard/assetfs/?path={{ $file.Path }}">{{ $file.Name }}</a>
                            {{ else }}
                                <i class="far fa-file fa-fw fa-lg"></i>
                                <a href="/dashboard/assetfs/?path={{ $file.Path }}&mode=raw">{{ $file.Name }}</a>
                            {{ end }}
                        </td>
                        <td>{{ $file.Size }}</td>
                        <td>{{ $file.Mode }}</td>
                        <td>{{ date_since $file.ModTime }}</td>
                        <td class="text-center">
                            {{ if not $file.IsDir }}
                                <div class="btn-group btn-group-xs">
                                    <a href="/dashboard/assetfs/?path={{ $file.Path }}&mode=raw" class="btn btn-info btn-icon"><i class="glyphicon glyphicon-file" title="{{ i18n "Raw" $ }}"></i></a>
                                    <a href="/dashboard/assetfs/?path={{ $file.Path }}&mode=file" class="btn btn-success btn-icon"><i class="glyphicon glyphicon-save-file" title="{{ i18n "Download" $ }}"></i></a>
                                </div>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    <style type="text/css">
        #assetfs th.actions {
            min-width: 70px;
        }
    </style>
{{ end }}

{{ define "js" }}
    {{ if .error }}
    <script type="application/javascript">
        $(document).ready(function () {
            new PNotify({
                title: 'Error',
                text: '{{ .error }}',
                type: 'error',
                hide: false,
                styling: 'bootstrap3'
            });
        });
    </script>
    {{ end }}
{{ end }}