{{ define "content" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Application.name }}</title>

    <link rel="shortcut icon" href="{{ staticURL "/{{ .ComponentName }}/assets/images/favicon.svg" false }}" type="image/svg+xml">

    {{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap/css/bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/font-awesome/css/font-awesome.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/nprogress/css/nprogress.min.css" false) }}

    {{ staticHTML (staticURL "/dashboard/assets/css/dashboard.css" true) }}
</head>

<body class="login">
<div>
    <div class="login_wrapper">
        <div class="form login_form">
            <section class="login_content">
                <div class="login_form">
                    <h1>{{ i18n "Login Form" . }}</h1>

                    {{ if .error }}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ .error }}
                    </div>
                    {{ end }}

                    {{ range $p, $provider := .providers }}
                        {{ if ne $provider.NeedRedirect true }}
                        <form action="{{ $provider.CallbackURL }}" method="post">
                            <div>
                                <input type="text" class="form-control" placeholder="{{ i18n "Username" . }}" required="required" name="username" autofocus />
                            </div>

                            <div>
                                <input type="password" class="form-control" placeholder="{{ i18n "Password" . }}" required="required" name="password" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default submit">{{ i18n "Log in" . }}</button>
                                <button type="reset" class="btn btn-default">{{ i18n "Reset" . }}</button>
                            </div>
                        </form>
                        {{ end }}
                    {{ end }}

                    <div class="clearfix"></div>

                    {{ if .hasMultiProviders }}<div class="separator">{{ end }}

                    {{ range $p, $provider := .providers }}
                        {{ if $provider.NeedRedirect }}
                        <button type="button" class="btn btn-success" onclick="javascript:location.href='{{ $provider.CallbackURL }}'">
                            {{ if eq $provider.Name "github" }}
                            <i class="fa fa-github fa-fw fa-lg"></i>
                            {{ else if eq $provider.Name "gitlab" }}
                            <i class="fa fa-gitlab fa-fw fa-lg"></i>
                            {{ else if eq $provider.Name "gplus" }}
                            <i class="fa fa-google-plus fa-fw fa-lg"></i>
                            {{ end }}
                            Log in with {{ $provider.Name }}
                        </button>
                        {{ end }}
                    {{ end }}

                    {{ if .hasMultiProviders }}</div>{{ end }}
                </div>
            </section>
        </div>
    </div>
</div>

{{ staticHTML (staticURL "/dashboard/assets/vendors/jquery/js/jquery.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap/js/bootstrap.min.js" false) }}
</body>
</html>
{{ end }}