{{ define "content" }}
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ i18n "Components" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover table-striped datatable dt-responsive nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ i18n "Name" . }}</th>
                        <th>{{ i18n "Version" . }}</th>
                        <th>{{ i18n "Ready" . }}</th>
                        <th>{{ i18n "Dependencies" . }}</th>
                        <th>{{ i18n "Functions" . }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $component := .components }}
                    <tr>
                        <td>{{ add $i 1 }}</td>
                        <td>{{ $component.name }}</td>
                        <td>{{ $component.version }}</td>
                        <td>
                            {{ if $component.ready }}
                                <span class="label label-success">{{ i18n "ready" $ }}</span>
                            {{ else }}
                                <span class="label label-danger">{{ i18n "not ready" $ }}</span>
                            {{ end }}
                        </td>
                        <td>
                            {{ range $j, $dep := $component.dependencies }}
                            {{ if $dep.Required }}
                            <span class="label label-warning">{{ $dep.Name }}</span>
                            {{ else }}
                            <span class="label label-info">{{ $dep.Name }}</span>
                            {{ end }}
                            {{ end }}
                        </td>
                        <td>
                            {{ if $component.shutdown }}
                                <span class="label label-default">{{ i18n "graceful shutdown" $ }}</span>
                            {{ end }}

                            {{ if $component.has_assetfs }}
                                <a href="/{{ $.ComponentName }}/bindata/?path=/{{ $component.name }}" class="label label-success">{{ i18n "asset filesystem" $ }}</a>
                            {{ end }}

                            {{ if $component.has_config_variables }}
                                {{ if $component.has_config_watchers }}
                                <a href="/config/" class="label label-success">{{ i18n "config with watchers" $ }}</a>
                                {{ else }}
                                <a href="/config/" class="label label-success">{{ i18n "config" $ }}</a>
                                {{ end }}
                            </a>
                            {{ else if $component.has_config_watchers }}
                            <span class="label label-success">{{ i18n "config with watchers" $ }}</span>
                            {{ end }}

                            {{ if $component.has_dashboard_menu }}
                            <span class="label label-success">{{ i18n "menu" $ }}</span>
                            {{ end }}

                            {{ if $component.has_dashboard_routes }}
                            <a href="/{{ $.ComponentName }}/routing/" class="label label-success">{{ i18n "routes" $ }}</a>
                            {{ end }}

                            {{ if $component.has_dashboard_templates }}
                            <a href="/{{ $.ComponentName }}/bindata/?path=/{{ $component.name }}/{{ $component.has_dashboard_templates }}" class="label label-success">{{ i18n "templates" $ }}</a>
                            {{ end }}

                            {{ if $component.has_database_migrations }}
                            <a href="/database/migrations/" class="label label-success">{{ i18n "database migrations" $ }}</a>
                            {{ end }}

                            {{ if $component.has_grpc_server }}
                            <a href="/grpc/" class="label label-success">{{ i18n "grpc" $ }}</a>
                            {{ end }}

                            {{ if $component.has_metrics }}
                            <a href="/metrics/" class="label label-success">{{ i18n "metrics" $ }}</a>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css") false) }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css") false) }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css") false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/vendors/datatables.net/js/jquery.dataTables.min.js") false) }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js") false) }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js") false) }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js") false) }}
    {{ staticHTML (staticURL (print "/" .ComponentName "/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.min.js") false) }}
{{ end }}