{{ define "content" }}
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ i18n "Dependencies" . }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover table-striped datatable dt-responsive nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ i18n "Path" . }}</th>
                        <th>{{ i18n "Version" . }}</th>
                        <th>{{ i18n "Replace path" . }}</th>
                        <th>{{ i18n "Replace version" . }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ .dependencies.Main.Path }}</td>
                        <td>{{ .dependencies.Main.Version }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{ range $dep := .dependencies.Deps }}
                    <tr>
                        <td>{{ $dep.Path }}</td>
                        <td>{{ $dep.Version }}</td>
                        {{ if $dep.Replace }}
                        <td>{{ $dep.Replace.Path }}</td>
                        <td>{{ $dep.Replace.Version }}</td>
                        {{ else }}
                        <td></td>
                        <td></td>
                        {{ end }}
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.min.js" false) }}
{{ end }}