.x_title span.label {
    color: #fff;
}

.site_title {
    text-align:center;
}

.tagsinput .tag span {
    line-height: 1.42857143;
}

table tr.group, table tr.group:hover {
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
    cursor: pointer;
}

table .form-group {
    width: 100%;
}

.table-hover > tbody > tr.no-hover:hover > td,
.table-hover > tbody > tr.no-hover:hover > th {
    background-color: white !important;
}

pre code span {
    line-height: 1.42857143;
}