<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Application.name }}</title>

    <link rel="shortcut icon" href="{{ staticURL "/dashboard/assets/images/favicon.svg" false }}" type="image/svg+xml">

    {{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap/css/bootstrap.min.css" false) }}

    {{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/font-awesome/css/font-awesome.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/icheck/css/green.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/nprogress/css/nprogress.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/pnotify/css/pnotify.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/pnotify/css/pnotify.buttons.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/select2/css/select2.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/switchery/css/switchery.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/waitMe/css/waitMe.min.css" false) }}

    {{ staticHTML (staticURL "/dashboard/assets/css/dashboard.css" true) }}
    {{ staticHTML (staticURL "/dashboard/assets/css/custom.css" true) }}
    {{ staticHTML (staticURL "/dashboard/assets/js/functions.js" true) }}

    {{ block "head" . }} {{ end }}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ config "dashboard.start-url" }}" class="site_title"><span>{{ .Application.name }}</span></a>
                </div>

                <div class="clearfix"></div>

                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="{{ if .User.AvatarURL }}{{ .User.AvatarURL }}{{ else }}/dashboard/assets/images/anonymous.png{{ end }}" alt="{{ .User.Name }}" class="img-circle profile_img">
                    </div>

                    <div class="profile_info">
                        <span>{{ i18n "Welcome," . nil "dashboard" }}</span>
                        <h2>{{ if .User.Name }}{{ .User.Name }}{{ else }}{{ i18n "Anonymous" . nil "dashboard" }}{{ end }}</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            {{ range .Menu }}
                                {{ if .Show $.Request }}
                                    {{ if .Route }}
                                        <li{{ if eq $.Request.URL.Path .Route.Path }} class="active"{{ end }}>
                                    {{ else }}
                                        <li{{ if eq $.Request.URL.Path .Url }} class="active"{{ end }}>
                                    {{ end }}

                                    {{ if gt (len .Childs) 0 }}
                                        <a><i class="fa{{ if .Icon }} fa-{{ .Icon }}{{ end }}"></i> {{ i18n .Title $ "menu" .Source }} <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            {{ range .Childs }}
                                                {{ if .Route }}
                                                    <li{{ if eq $.Request.URL.Path .Route.Path }} class="active"{{ end }}><a href="{{ .Route.Path }}">{{ i18n .Title $ "menu" .Source }}</a></li>
                                                {{ else }}
                                                    <li{{ if eq $.Request.URL.Path .Url }} class="active"{{ end }}><a href="{{ .Url }}">{{ i18n .Title $ "menu" .Source }}</a></li>
                                                {{ end }}
                                            {{ end }}
                                        </ul>
                                    {{ else }}
                                        <a href="{{ if .Route }}{{ .Route.Path }}{{ else }}{{ .Url }}{{ end }}"><i class="fa{{ if .Icon }} fa-{{ .Icon }}{{ end }}"></i> {{ i18n .Title $ "menu" .Source }}</a>
                                    {{ end }}
                                    </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                {{ if (config "config.debug" false) }}
                    <ul>
                        <li>Component: {{ .ComponentName }}</li>
                        <li>View: {{ .ViewName }}</li>
                        <li>Layout: {{ .LayoutName }}</li>
                    </ul>
                {{ end }}

                <div class="sidebar-footer hidden-small">
                    <!--
                    <a data-toggle="tooltip" data-placement="top" title="Alerts" href="/alerts">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </a>
                    -->
                    <a data-toggle="tooltip" data-placement="top" title="{{ i18n "Configuration" . nil "config" }}" href="/config">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    {{ if .User.IsAuthorized }}
                    <a data-toggle="tooltip" data-placement="top" title="{{ i18n "Logout" . nil "dashboard" }}" href="/dashboard/logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="{{ if .User.AvatarURL }}{{ .User.AvatarURL }}{{ else }}/dashboard/assets/images/anonymous.png{{ end }}" alt="{{ .User.Name }}" style="background: #fff">
                                {{ if .User.Name }}{{ .User.Name }}{{ else }}{{ i18n "Anonymous" . "" "dashboard" }}{{ end }}
                                {{ if .User.IsAuthorized }}<span class=" fa fa-angle-down"></span>{{ end }}
                            </a>
                            {{ if .User.IsAuthorized }}
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="/dashboard/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                            {{ end }}
                        </li>

                        <!--
                        <li role="presentation" class="dropdown" id="alerts">
                            <a href="javascript:void(0);" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green" style="display:none">0</span>
                            </a>

                            <ul class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <div class="text-center">
                                        <a href="/alerts/">
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        -->
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                {{ block "content" . }} {{ end }}
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                {{ .Application.name }} <strong>v.{{ .Application.version }}</strong> build <strong>{{ .Application.build }}</strong>
                {{ if .Application.build_date }}
                at <strong><script type="application/javascript">document.write(dateToString('{{ .Application.build_date.Format "2006-01-02T15:04:05Z07:00" }}'))</script></strong>
                {{ end }}
                <br />Started at <strong><script type="application/javascript">document.write(dateToString('{{ .Application.start_date.Format "2006-01-02T15:04:05Z07:00" }}'))</script></strong>
                with uptime <strong>{{ date_since .Application.start_date }}</strong>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                {{ raw (i18n "Power by <a href=\"%s\">Shadow framework</a>" . nil "dashboard" nil "https://github.com/kihamo/shadow") }}<br />
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalLabel">Confirm</h4>
            </div>
            <div class="modal-body">Are you sure?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{ staticHTML (staticURL "/dashboard/assets/vendors/jquery/js/jquery.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap/js/bootstrap.min.js" false) }}

{{ staticHTML (staticURL "/dashboard/assets/vendors/autosize/js/autosize.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap-progressbar/js/bootstrap-progressbar.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap-show-password/js/bootstrap-show-password.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/fastclick/js/fastclick.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/icheck/js/icheck.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/jquery.tagsinput/js/jquery.tagsinput.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/nprogress/js/nprogress.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/pnotify/js/pnotify.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/pnotify/js/pnotify.buttons.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/select2/js/select2.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/switchery/js/switchery.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/waitMe/js/waitMe.min.js" false) }}

{{ staticHTML (staticURL "/dashboard/assets/js/custom.js" true) }}

{{ block "js" . }} {{ end }}

</body>
</html>