<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Application.Name }}</title>

    <link rel="shortcut icon" href="{{ staticURL "/dashboard/assets/images/favicon.svg" false }}" type="image/svg+xml">

    {{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap/css/bootstrap.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/font-awesome/css/font-awesome.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/nprogress/css/nprogress.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/css/dashboard.min.css" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/css/custom.min.css" false) }}

    {{ staticHTML (staticURL "/dashboard/assets/js/functions.js" true) }}

    {{ block "head" . }} {{ end }}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        {{ block "content" . }} {{ end }}
    </div>
</div>

{{ staticHTML (staticURL "/dashboard/assets/vendors/jquery/js/jquery.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/bootstrap/js/bootstrap.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/fastclick/js/fastclick.min.js" false) }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/nprogress/js/nprogress.min.js" false) }}

{{ staticHTML (staticURL "/dashboard/assets/js/custom.js" true) }}
{{ block "js" . }} {{ end }}

</body>
</html>
