{{ define "content" }}
<div class="page-title">
    <div class="title_left">
        <h3>gRPC</h3>
    </div>
</div>

<div class="clearfix"></div>

{{ if .error }}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ .error }}
</div>
{{ end }}

<div class="row">
    <div class="col-md-12">
    {{ range $s, $service := .services }}
        {{ $serviceId := replace $service.Name "." "_" }}

        <div class="x_panel">
            <div class="x_title">
                <h2>{{ $service.Name }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="accordion" id="a-{{ $serviceId }}" role="tablist" aria-multiselectable="true">
                    {{ range $m, $method := $service.Methods }}
                        <div class="panel">
                        {{ $methodId := replace $method.Name "." "_" }}

                        {{ if $method.InputType }}
                            <a class="panel-heading" role="tab" id="h-{{ $serviceId }}-{{ $methodId }}" data-toggle="collapse" data-parent="#a-{{ $serviceId }}" href="#c-{{ $serviceId }}-{{ $methodId }}" aria-expanded="false" aria-controls="c-{{ $serviceId }}-{{ $methodId }}">
                                <h4 class="panel-title">{{ $method.Name }}</h4>
                            </a>
                            <div id="c-{{ $serviceId }}-{{ $methodId }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h-{{ $serviceId }}-{{ $methodId }}">
                                <div class="panel-body">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h4>
                                                <i class="fa fa-arrow-right fa-fw"></i>
                                                {{ $method.InputType.Name }}
                                                {{ if $method.InputStream }}
                                                    <span class="label label-warning">stream</span>
                                                {{ end }}
                                            </h4>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <form method="post" action="?action=call" class="call" data-result="r-{{ $serviceId }}-{{ $methodId }}" data-toggle="validator">
                                                <input type="hidden" name="service" value="{{ $service.Name }}">
                                                <input type="hidden" name="method" value="{{ $method.Name }}">

                                                {{ if $method.InputType.Fields }}
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Field</th>
                                                            <th>Type</th>
                                                            <th>Label</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{ range $f, $field := $method.InputType.Fields }}
                                                        {{ $varId := replace $field.Name "." "_" }}
                                                        <tr>
                                                            <td>{{ $field.Name }}</td>
                                                            <td>{{ $field.Type }}
                                                                {{/*
                                                                <pre>{{ raw $field.JSON }}</pre>
                                                                {{ if $field.IsMessage }}
                                                                    <a href="javascript:void(0)">{{ $field.Type }}</a>
                                                                {{ else }}
                                                                    {{ $field.Type }}
                                                                {{ end }}
                                                                */}}
                                                            </td>
                                                            <td><span class="label label-success">{{ $field.Label }}</span></td>
                                                            <td>{{/*
                                                                <div class="input-group">
                                                                    {{ if not $field.IsRepeated }}
                                                                        {{ if or (eq $field.Type "double") (eq $field.Type "float") }}
                                                                            <input type="number" name="{{ $field.Name }}" class="form-control" pattern="^[-+]?[0-9]*(\.[0-9]*)?$" value="{{ $field.Default }}" />
                                                                        {{ else if or (eq $field.Type "int32") (eq $field.Type "int64") (eq $field.Type "sint32") (eq $field.Type "sint64") (eq $field.Type "sfixed32") (eq $field.Type "sfixed64") }}
                                                                            <input type="number" name="{{ $field.Name }}" class="form-control" pattern="^[-+]?[0-9]*$" value="{{ $field.Default }}" />
                                                                        {{ else if or (eq $field.Type "uint32") (eq $field.Type "uint64") (eq $field.Type "fixed32") (eq $field.Type "fixed64") }}
                                                                            <input type="number" name="{{ $field.Name }}" class="form-control" pattern="^[+]?[0-9]*$" value="{{ $field.Default }}" />
                                                                        {{ else if eq $field.Type "bool" }}
                                                                            <input type="checkbox" name="{{ $field.Name }}" class="js-switch form-control" {{ if $field.Default }}checked {{ end }}/>
                                                                        {{ else if or (eq $field.Type "string") (eq $field.Type "bytes") }}
                                                                            <input type="text" name="{{ $field.Name }}" class="form-control" value="{{ $field.Default }}" />
                                                                        {{ else }}
                                                                            {{ if $field.IsEnum }}
                                                                                <select name="{{ $field.Name }}" class="form-control select2">
                                                                                    {{ range $e, $enum := $field.Enum }}
                                                                                    <option value="{{ $enum.Number }}"{{ if $enum.IsDefault }} selected="selected"{{ end }}>{{ $enum.Name }}</option>
                                                                                    {{ end }}
                                                                                </select>
                                                                            {{ else }}
                                                                                <textarea name="{{ $field.Name }}" class="form-control"></textarea>
                                                                            {{ end }}
                                                                        {{ end }}
                                                                    {{ end }}

                                                                    {{ if and $field.IsRepeated }}
                                                                    <div class="input-group-btn">
                                                                        <!--
                                                                        <button type="button" class="btn btn-danger">
                                                                            <span class="fa fa-trash-o"></span>
                                                                        </button>
                                                                        -->
                                                                        <button type="button" class="btn btn-info">
                                                                            <span class="fa fa-plus"></span>
                                                                        </button>
                                                                    </div>
                                                                    {{ end }}
                                                                </div>
                                                            */}}</td>
                                                        </tr>
                                                        {{ end }}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                {{ end }}

                                                <div id="r-{{ $serviceId }}-{{ $methodId }}" class="call-result" style="display:none">
                                                    <hr />
                                                    <button type="button" class="close">&times;</button>
                                                    <div class="response" style="white-space:pre-wrap"></div>
                                                </div>

                                                <div class="ln_solid"></div>

                                                <div class="form-group">
                                                    <div class="text-center">
                                                        <input type="submit" class="btn btn-success" value="Call" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h4>
                                                <i class="fa fa-arrow-left fa-fw"></i>
                                                {{ $method.OutputType.Name }}
                                                {{ if $method.OutputType }}
                                                    <span class="label label-warning">stream</span>
                                                {{ end }}
                                            </h4>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Field</th>
                                                        <th>Type</th>
                                                        <th>Label</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{ range $f, $field := $method.OutputType.Fields }}
                                                    <tr>
                                                        <td>{{ $field.Name }}</td>
                                                        <td>{{ $field.Type }}
                                                            {{/*
                                                            <pre>{{ raw $field.JSON }}</pre>

                                                            {{ if $field.IsMessage }}
                                                                <a href="javascript:void(0)">{{ $field.Type }}</a>

                                                            {{ else }}
                                                                {{ $field.Type }}
                                                            {{ end }}
                                                            */}}
                                                        </td>
                                                        <td>
                                                            <span class="label label-success">{{ $field.Label }}</span>

                                                            {{ if $field.IsMap }}
                                                                <span class="label label-success">map</span>
                                                            {{ end }}
                                                        </td>
                                                    </tr>
                                                    {{ end }}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ else }}
                            <a class="panel-heading" role="tab" data-toggle="collapse" href="javascript:void(0)">
                                <h4 class="panel-title">{{ $method.Name }}</h4>
                            </a>
                        {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>

    {{ end }}
    </div>
</div>
{{ end }}

{{ define "js" }}
{{ staticHTML (staticURL "/dashboard/assets/vendors/validator/js/validator.min.js" false) }}
{{ staticHTML (staticURL "/grpc/assets/js/manager.js" true) }}
{{ end }}