{{ define "content" }}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Configuration</h1>
    </div>
</div>

<div class="panel-body">
    {{ if .error }}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ .error.Error }}
    </div>
    {{ end }}

    <form role="form" action="#" method="post" id="configs" data-toggle="validator">

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            {{ range $name, $vars := .variables }}
            <li role="presentation"{{ if eq $name "main" }} class="active"{{ end }}><a href="#{{ $name }}" aria-controls="{{ $name }}" role="tab" data-toggle="tab">{{ $name }}</a></li>
            {{ end }}
        </ul>

        <div class="tab-content">
        {{ range $name, $vars := .variables }}
            <div role="tabpanel" class="tab-pane{{ if eq $name "main" }} active{{ end }}" id="{{ $name }}">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th width="20%">Name</th>
                            <th width="25%">Value</th>
                            <th width="15%">Default</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $i, $config := $vars }}
                        <tr>
                            <td>
                                {{ if $config.Editable }}
                                    <label class="control-label" for="{{ $config.Key }}">{{ $config.Key }}</label>
                                {{ else }}
                                    <label class="control-label">{{ $config.Key }}</label>
                                {{ end }}
                            </td>
                            <td>
                                {{ if $config.Editable }}
                                    <div class="form-group">
                                        {{ if eq $config.Type "bool" }}
                                        <input type="checkbox" name="{{ $config.Key }}" id="{{ $config.Key }}" {{ if eq (print $config.Value) "true" }} checked{{ end }} />
                                        {{ else if or (eq $config.Type "int") (eq $config.Type "int64") }}
                                        <input type="number" class="form-control" name="{{ $config.Key }}" value="{{ $config.Value }}" id="{{ $config.Key }}" pattern="^[-+]?[0-9]*$" />
                                        {{ else if or (eq $config.Type "uint") (eq $config.Type "uint64") }}
                                        <input type="number" class="form-control" name="{{ $config.Key }}" value="{{ $config.Value }}" id="{{ $config.Key }}" pattern="^[+]?[0-9]*$" />
                                        {{ else if eq $config.Type "float64" }}
                                        <input type="number" class="form-control" name="{{ $config.Key }}" value="{{ $config.Value }}" id="{{ $config.Key }}" pattern="^[-+]?[0-9]*(\.[0-9]*)?$" />
                                        {{ else if eq $config.Type "duration" }}
                                        <input type="text" class="form-control" name="{{ $config.Key }}" value="{{ $config.Value }}" id="{{ $config.Key }}" pattern="^[-+]?([0-9]*(\.[0-9]*)?[a-z]+)+$" />
                                        {{ else }}
                                        <input type="text" class="form-control" name="{{ $config.Key }}" value="{{ $config.Value }}" id="{{ $config.Key }}" />
                                        {{ end }}
                                    </div>
                                {{ else }}
                                    {{ $config.Value }}
                                {{ end }}
                            </td>
                            <td>{{ $config.Default }}</td>
                            <td>{{ $config.Usage }}</td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        {{ end }}
        </div>

        <div class="text-center">
            <button type="reset" class="btn btn-info" value="reset">Reset</button>
            <button type="submit" class="btn btn-success" value="save" disabled="disabled">Save</button>
        </div>
    </div>

    </form>
</div>

<div class="modal fade" id="modalConfig" tabindex="-1" role="dialog" aria-labelledby="modalConfigLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalConfigLabel">Confirm save configuration</h4>
            </div>
            <div class="modal-body">Are you sure?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
<script src="/dashboard/js/config.js?v={{ .Application.GetBuild }}"></script>
{{ end }}