{{ define "content" }}
<div class="x_panel">
    <div class="x_title">
        <h2>Environment</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div role="tabpanel">
            <ul class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active" aria-expanded="true">
                    <a href="#go" aria-controls="go" role="tab" data-toggle="tab" aria-expanded="true">Go</a>
                </li>
                <li role="presentation" aria-expanded="false">
                    <a href="#variables" aria-controls="variables" role="tab" data-toggle="tab" aria-expanded="false">Variables</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="go">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="30%">Name</th>
                                <th width="70%">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Go version</td>
                                <td>{{ .goVersion }}</td>
                            </tr>
                            <tr>
                                <td>Go OS</td>
                                <td>{{ .goOS }}</td>
                            </tr>
                            <tr>
                                <td>Go arch</td>
                                <td>{{ .goArch }}</td>
                            </tr>
                            <tr>
                                <td>Go root</td>
                                <td>{{ .goRoot }}</td>
                            </tr>
                            <tr>
                                <td>Go num CPU</td>
                                <td>{{ .goNumCPU }}</td>
                            </tr>
                            <tr>
                                <td>Go num goroutine</td>
                                <td>{{ .goNumGoroutine }}</td>
                            </tr>
                            <tr>
                                <td>Go num CGO call</td>
                                <td>{{ .goNumCgoCall }}</td>
                            </tr>
                            <tr>
                                <td>Go race detector enabled</td>
                                <td>{{ if .goRace }}Yes{{ else }}No{{ end }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="variables">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="30%">Name</th>
                                <th width="70%">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $i, $var := .envVars }}
                            <tr>
                                <td>{{ $i }}</td>
                                <td>{{ $var }}</td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}