.version {
    text-align: center;
    color: #777;
    margin: 1em 0 0 0;
    font-size:.9em;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: auto;
    min-width: 300px;
    margin-left: 5px;
}

#navbar-alerts li.dropdown .dropdown-toggle {
    color: #5cb85c;
}

#navbar-alerts li.disabled .dropdown-toggle {
    cursor: pointer;
    color: #777;
}