{{ include "layout/header.tpl.html" }}

<div class="panel-body">
    <div class="list-group">
        {{ range $i, $alert := .Alerts }}
        <a href="#" class="list-group-item">
            {{ if $alert.GetIcon }}
            <i class="fa fa-{{ $alert.GetIcon }} fa-fw"></i>
            {{ end }}
            <span class="pull-right text-muted small"><em>{{ $alert.GetDateAsMessage }}</em></span>

            <strong>{{ $alert.GetTitle }}</strong><br />
            {{ $alert.GetMessage }}
        </a>
        {{ end }}
</div>

{{ include "layout/footer.tpl.html" }}