{{ include "layout/header.tpl.html" }}

<div class="panel-body">
    <div class="list-group">
        {{ range $i, $alert := .Alerts }}
        <a href="#" class="list-group-item">
            {{ if $alert.Icon }}
            <i class="fa fa-{{ $alert.Icon }} fa-fw"></i>
            {{ end }}
            <span class="pull-right text-muted small"><em>{{ $alert.DateAsMessage }}</em></span>

            <strong>{{ $alert.Title }}</strong><br />
            {{ $alert.Message }}
        </a>
        {{ end }}
</div>

{{ include "layout/footer.tpl.html" }}