{{ define "content" }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Mail</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ if .error }}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ .error }}
                </div>
                {{ end }}

                {{ if .message }}
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ .message }}
                </div>
                {{ end }}

                <form class="form-horizontal form-label-left" role="form" method="post" id="send-mail" action="/mail" novalidate>
                    <div class="item form-group">
                        <label for="to" class="control-label col-md-3 col-sm-3 col-xs-12">
                            TO <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="to" name="to" placeholder="example1@domain.com, example2@domain.com" value="" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="subject" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Subject
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="subject" name="subject" value="">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="type" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Content type
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" rows="4" name="type" id="type">
                                <option value="plain">Plain text</option>
                                <option value="html">HTML</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="message" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Message
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control resizable_textarea" rows="4" name="message" id="message"></textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="send" type="submit" class="btn btn-success">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
<script src="/dashboard/assets/vendors/validator/js/validator.min.js?v={{ .Application.build }}"></script>
{{ end }}