{{ define "content" }}
    {{ if gt (len .locales) 0 }}

    <li>
        {{ staticHTML (staticURL "/i18n/assets/vendors/bootstrap-languages/languages.min.css" false) }}
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="lang-sm" lang="{{ .current }}" style="top:.5em"></i>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
            {{ range $i, $locale := .locales }}
                <li>
                    <a href="{{ if ne $locale $.current }}/i18n/change/?locale={{ $locale }}{{ else }}javascript:;{{ end }}">
                        <i class="lang-sm pull-right" lang="{{ $locale }}"></i>
                        <span class="lang-lbl" lang="{{ $locale }}"></span>
                    </a>
                </li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
{{ end }}