{{ define "content" }}
<div class="page-title">
    <div class="title_left">
        <h3>Workers</h3>
    </div>

    <div class="title_right">
        <div class="form-group pull-right">
            <div class="input-group">
                <label>
                    <input type="checkbox" class="js-switch" id="autorefresh" /> Autorefresh
                </label>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row top_tiles">
    <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-deaf fa-5x"></i></div>
            <div class="count" id="listeners-count">0</div>
            <h3>Listeners</h3>
        </div>
    </div>
    <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-users fa-5x"></i></div>
            <div class="count" id="workers-count">0</div>
            <h3>Workers</h3>
        </div>
    </div>
    <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-tasks fa-5x"></i></div>
            <div class="count" id="tasks-count">0</div>
            <h3>Tasks</h3>
        </div>
    </div>
</div>

<div id="listeners">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-deaf"></i> Listeners</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal" data-modal-title="Confirm remove all listeners" data-modal-body="Will be remove all listeners except default listener. Are you sure?" data-modal-callback="listenersRemove();">
                                <i class="glyphicon glyphicon-trash"></i> Remove all
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Events</th>
                        <th>Fires</th>
                        <th>First fired</th>
                        <th>Last fired</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="workers">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-users"></i> Workers</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="javascript:void(0)" id="workers-show">
                                <i class="glyphicon glyphicon-eye-open"></i> Show all tasks
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" id="workers-hide">
                                <i class="glyphicon glyphicon-eye-close"></i> Hide all tasks
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal" data-modal-title="Confirm remove all workers" data-modal-callback="workersRemove();">
                                <i class="glyphicon glyphicon-trash"></i> Remove all
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#workers-add">
                                <i class="glyphicon glyphicon-plus"></i> Add worker
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Task</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="tasks">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-tasks"></i> Tasks</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal" data-modal-title="Confirm remove all tasks" data-modal-callback="tasksRemove();">
                                <i class="glyphicon glyphicon-trash"></i> Remove all
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Priority</th>
                        <th>Repeats</th>
                        <th>Repeat Interval</th>
                        <th>Timeout</th>
                        <th>Created</th>
                        <th>Started</th>
                        <th>Status</th>
                        <th>Attempts</th>
                        <th>Allow start</th>
                        <th>First started</th>
                        <th>Last started</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="workers-add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add workers</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="workers-add-count" class="control-label">Number new workers:</label>
                        <input type="number" min="1" class="form-control" id="workers-add-count" value="1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "head" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" false) }}
{{ end }}

{{ define "js" }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net/js/jquery.dataTables.min.js" false) }}
    {{ staticHTML (staticURL "/dashboard/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" false) }}
    {{ staticHTML (staticURL "/workers/assets/js/manager.js" true) }}
{{ end }}