{{ define "content" }}
<div class="page-title">
    <div class="title_left">
        <h3>Alerts</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="panel-body">
    <div class="list-group">
        {{ range $i, $alert := .alerts }}
        <a href="#" class="list-group-item">
            {{ if $alert.Icon }}
            <i class="fa fa-{{ $alert.Icon }} fa-fw"></i>
            {{ end }}
            <span class="pull-right text-muted small"><em>{{ $alert.DateAsMessage }}</em></span>

            <strong>{{ $alert.Title }}</strong><br />
            {{ $alert.MessageAsHTML }}
        </a>
        {{ end }}
    </div>
</div>
{{ end }}