{{ define "head" }}
    {{ if .started }}
    {{ staticHTML (staticURL "/profiling/assets/vendors/flipclock/css/flipclock.min.css" false) }}
    {{ end }}
{{ end }}

{{ define "content" }}
<div class="page-title">
    <div class="title_left">
        <h3>Go trace</h3>
    </div>
</div>

<div class="clearfix"></div>

{{ if .error }}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ .error.Error }}
</div>
{{ end }}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-file-o"></i> Run profiling</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="javascript:void(0)" id="select-all">
                            <i class="glyphicon glyphicon-check"></i> Select all
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form role="form" action="?{{ if .started }}action=stop{{ else }}action=start{{ end }}" method="post" id="profiles">
            {{ if .started }}
            <div class="row">
                <div class="clock" style="width:300px;margin:1em auto;"></div>
            </div>
            {{ else }}
            <div class="item form-group">
                {{ range $id, $profile := .profiles }}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="flat" id="{{ $profile.GetId }}" name="profile_{{ $profile.GetId }}" value="{{ $profile.GetId }}" {{ if $profile.GetStarted }}checked{{ end }}> {{ $profile.GetDescription }}
                    </label>
                </div>
                {{ end }}
            </div>
            {{ end }}

            <div class="ln_solid"></div>
            <div class="form-group">
                {{ if .started }}
                <button type="submit" class="btn btn-danger" value="stop">Finish profiling</button>
                {{ else }}
                <button type="submit" class="btn btn-success" value="start" disabled>Run profiling</button>
                {{ end }}
            </div>
        </form>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-files-o"></i> Dumps</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            {{ if .remove_all }}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#modal" data-modal-title="Confirm remove all dump" data-modal-body="Will be remove all dumps. Are you sure?" data-modal-callback="dumpsRemove();">
                            <i class="glyphicon glyphicon-trash"></i> Remove all
                        </a>
                    </li>
                </ul>
            </li>
            {{ end }}
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="dumps">
                <thead>
                <tr>
                    <th>Profiles</th>
                    <th>Started</th>
                    <th>Stopped</th>
                    <th>Size</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {{ range $d, $dump := .dumps }}
                <tr{{ if eq $dump.GetStatus 3 }} class="danger"{{ end }}>
                <td>
                    {{ if eq $dump.GetStatus 1 }}
                        {{ range $p, $profile := $dump.GetProfiles }}
                            {{ $profile.GetId }}
                        {{ end }}
                    {{ else }}
                    <div class="progress" style="width:100%;margin-bottom:0;float:right">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Generation</span>
                        </div>
                    </div>
                    {{ end }}
                </td>
                <td><script type="application/javascript">document.write(dateToString('{{ $dump.GetStartedAt.Format "2006-01-02T15:04:05Z07:00" }}'))</script></td>
                <td><script type="application/javascript">document.write(dateToString('{{ $dump.GetStoppedAt.Format "2006-01-02T15:04:05Z07:00" }}'))</script></td>
                <td>{{ $dump.GetSize }}</td>
                <td class="text-right">
                    {{ if and (ne $dump.GetStatus 0) (ne $dump.GetStatus 2) }}
                    <form method="post" action="?action=delete&id={{ $dump.GetId }}" class="btn-group btn-group-xs">
                        <a href="?action=download&id={{ $dump.GetId }}" class="btn btn-info btn-icon"><i class="glyphicon glyphicon-download" title="Download"></i></a>
                        <button type="submit" class="btn btn-danger btn-icon"><i class="glyphicon glyphicon-trash" title="Delete"></i></button>
                    </form>
                    {{ else }}
                    <div class="progress" style="width:67px;margin-bottom:0;float:right">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Generation</span>
                        </div>
                    </div>
                    {{ end }}
                </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
    {{ if .started }}
    {{ staticHTML (staticURL "/profiling/assets/vendors/flipclock/js/flipclock.min.js" false) }}
    {{ end }}

{{ staticHTML (staticURL "/profiling/assets/js/trace.js" true) }}

<script type="text/javascript">
    $(document).ready(function () {

        {{ if .started }}
            $('.clock').FlipClock({{ .duration.Seconds }}, {
                clockFace: 'MinuteCounter'
            });
        {{ else }}
            var p = $('#profiles').find(':checkbox');
            var b = $('#profiles button[type=submit]');
            var s = $('#select-all');

            s.click(function() {
                var next = !$(this).data('selected');
                p.iCheck(next ? 'check' : 'uncheck');
                $(this).html(next ? '<i class="glyphicon glyphicon-unchecked"></i> Unselect all' : '<i class="glyphicon glyphicon-check"></i> Select all')
                        .data('selected', next);
            });

            p.on('ifChecked', function(){
                $('#profiles button[type=submit]').removeAttr('disabled');
            });

            p.on('ifUnchecked', function(){
                if($('#profiles :checked').length > 0) {
                    b.removeAttr('disabled');
                } else {
                    b.attr('disabled', '');
                    s.html('<i class="glyphicon glyphicon-check"></i> Select all').data('selected', false)
                }
            });
        {{ end }}
    });
</script>
{{ end }}