{{ define "content" }}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Workers</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-deaf fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="listeners-count">0</div>
                            <div>Listeners</div>
                        </div>
                    </div>
                </div>
                <a href="#listeners">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="workers-count">0</div>
                            <div>Workers</div>
                        </div>
                    </div>
                </div>
                <a href="#workers">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="tasks-wait-count">0</div>
                            <div>Wait tasks</div>
                        </div>
                    </div>
                </div>
                <a href="#tasks">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-success" id="listeners">
    <div class="panel-heading">
        Listeners
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu slidedown">
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#modal" data-modal-title="Confirm remove all listeners" data-modal-body="Will be remove all listeners except default listener. Are you sure?" data-modal-callback="listenersRemove();">
                        <i class="glyphicon glyphicon-trash"></i> Remove all
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-warning" id="workers">
    <div class="panel-heading">
        Workers
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu slidedown">
                <li>
                    <a href="javascript:void(0)" id="workers-show">
                        <i class="glyphicon glyphicon-eye-open"></i> Show all tasks
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" id="workers-hide">
                        <i class="glyphicon glyphicon-eye-close"></i> Hide all tasks
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#modal" data-modal-title="Confirm reset all workers" data-modal-callback="workersReset();">
                        <i class="glyphicon glyphicon-refresh"></i> Reset all
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#modal" data-modal-title="Confirm kill and remove all workers" data-modal-callback="workersKill();">
                        <i class="glyphicon glyphicon-trash"></i> Kill all
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#workers-add">
                        <i class="glyphicon glyphicon-plus"></i> Add worker
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th>Task</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-danger" id="tasks">
    <div class="panel-heading">Wait tasks</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task name</th>
                    <th>Task created</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="workers-add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add workers</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="workers-add-count" class="control-label">Number new workers:</label>
                        <input type="number" min="1" class="form-control" id="workers-add-count">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
<script type="application/javascript">
    var defaultListenerName = '{{ .defaultListenerName }}';
</script>
<script src="/workers/js/dashboard.js?v={{ .Application.GetBuild }}"></script>
{{ end }}