{{ include "frontend" "layout/header.tpl.html" }}

<div class="well well-lg">
    <div class="row" style="padding: 8px">
        <div class="col-md-6"><strong>Bot name</strong></div>
        <div class="col-md-6">{{ .Slack.name }}{{ .Slack.url }}</div>
    </div>
    <div class="row" style="padding: 8px">
        <div class="col-md-6"><strong>Channels</strong></div>
        <div class="col-md-6">
            {{ range $i, $channel := .Slack.channels }}
            {{ if $channel.IsMember }}
            <span class="label label-success">#{{ $channel.Name }}</span>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Commands</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="15%">Command</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{ range $name, $command := .Commands }}
                <tr>
                    <td>{{ $command.GetName }}</td>
                    <td>{{ $command.GetDescription }}</td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ include "frontend" "layout/footer.tpl.html" }}