{{ include "frontend" "layout/header.tpl.html" }}

<div class="panel panel-default">
    <div class="panel-heading">Show {{ .MaxItems }} latest records
        <div class="btn-group pull-right">
            <button id="refresh" type="button" class="btn btn-default btn-xs">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            {{ range $name, $entries := .Loggers }}
            <li><a href="#{{ $name }}" role="tab" data-toggle="tab">{{ $name }}</a></li>
            {{ end }}
        </ul>

        <div class="tab-content">
            {{ range $name, $logger := .Loggers }}
            <div role="tabpanel" class="tab-pane" id="{{ $name }}">
                <p><pre></pre></p>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
  function update() {
    var tab = $('.tab-pane:visible:first');

    if (!tab) {
      return;
    }

    var logId = tab.attr('id');
    var el = tab.find('pre').html('');

    $.ajax({
      type: 'GET',
      url: '/system/logs?log=' + logId,
      success: function(response){
        items = [];
        for (var i in response) {
            var item = response[i];
            items[i] = new Date(item.time).toLocaleString()
                     + ' [' + item.level.toUpperCase() + '] '
                     + item.message;

            if (Object.keys(item.fields).length) {
                items[i] += ' ' + JSON.stringify(item.fields);
            }
        }

        el.html(items.join("\n"));
      }
    });
  }

  $('.nav a').click(update).click();

  var refresh = $('#refresh');
  refresh.click(function() {
    if (refresh.hasClass('active')) {
      refresh.removeClass('active');
    } else {
      refresh.addClass('active');
    }
  })

  setInterval(function() {
    if (refresh.hasClass('active')) {
      update();
    }
  }, 1000 * 5);
});
</script>

{{ include "frontend" "layout/footer.tpl.html" }}